
//Font Family

//font variables
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Tipography
// Font Weight
$regular: 400;
$light-fnt:300;
$black_fnt: 900;

// Font Sizes


$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// Color Scheme

// First Color Scheme
$white: #fff;
$fuzzy-wuzzy: #e56353;
$eerie-black: #121619;

// Second Color Scheme
$platinum: #e6e7e7;
$ruddy-pink: #d76c69;
$raisin-black: #222323;

// third Color Scheme
$light-gray: #d1d1d1;
$spanish-pink: #ecbcba;
$nickel: #6c6e70;
