.header__site {
    background-color: $eerie-black;
    padding: 1rem;
} 
.header__container__princ{
    padding: 0 25px;
    width: 90%;
    max-width: 1200px;
    /* = 1200px */
    margin: 0 auto;
}
.logo__princ {
    width:120px;
}