.display__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display__relativ {
    position: relative;
}
.main__container__princ {
    /* padding: 0 25px; */
    width: 90%;
    max-width: 1200px;
    /* = 1200px */
    margin: 0 auto;
}
.center {
    display: flex;
    justify-content: center;
}
.dir_block {
    display: block;
}
.evenly {
    display: flex;
    justify-content: space-evenly;
}
.bg__platinum {
    background-color: $platinum;
}
.img_border {
    border-radius: 50%;
}
.center {
    margin: auto;
}

@media (min-width: 576px) {
    .center_flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 576px) {
    .hidden {
        display: none;
    }
}

.border_top{
    border-top: 2px solid $platinum;
}