.main__site {
    background-color: $white;
    padding: 0;
    margin: 0;
}
.main__container__princ {
    /* padding: 0 25px; */
    width: 90%;
    max-width: 1200px;
    /* = 1200px */
    margin: 0 auto;
}
.main__imghead {
    position: relative;
}

@media screen and (min-width: 768px) {
    .main__title {
        font-size: $xx-large-em;
    }
}

@media screen and (max-width: 768px) {
    .main__title {
        font-size: 7vw;
    }
}
.main__date{
    font-family: $roboto;
    font-size: $large;
}
.main__btn{
    padding: 0 2%;
    width:100%;
    max-width: 1200px;
    /* = 1200px */
    margin: 0 auto;
}
@media(max-width:992px){
.main__btn{
    padding: 0 5%;
    width: 90%;
   
}
}

.display__middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display__relativ {
    position: relative;
}

.dir_col {
    display: flex;
    flex-direction: column;
}
.dir_row {
    display: flex;
    flex-direction: row;
}
.evenly {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 576px) {
    .center_flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.center {
    display: flex;
    justify-content: center;
}

