.pad_0{
    padding: 0;
}
.marg_0{
    margin: 0;
}

.pad_y1{
    padding: 10px 0;
}
.pad_y2{
    padding: 20px 0;
}
.pad_y3{
    padding: 30px 0;
}
.pad_y4{
    padding: 40px 0;
}
.pad_y5{
    padding: 60px 0;
}

.pad_x1{
    padding: 0 10px;
}
.pad_x2{
    padding: 0 20px;
}
.pad_x3{
    padding: 0 30px;
}
.pad_x4{
    padding: 0 40px;
}



.pad_l{
    padding-left:  10px;
}
.pad_r{
    padding-right:  10px;
}
.pad_t{
    padding-top:  10px;
}
.pad_b{
    padding-bottom:  10px;
}

.pad_l2{
    padding-left:  30px;
}
.pad_r2{
    padding-right:  30px;
}
.pad_t2{
    padding-top:  30px;
}
.pad_b2{
    padding-bottom:  30px;
}


.pad_l4{
    padding-left:60px;
}
.pad_r4{
    padding-right:60px;
}
.pad_t4{
    padding-top:60px;
}
.pad_b4{
    padding-bottom:60px;
}

